body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    
  }
  header {
    color: #007bff;
    text-align: center;
    padding: 20px 0;
    font-size:30px;
  }
  .courses-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px 0;
    background: linear-gradient(120deg, #f6d365, #fda085 ) ;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .course {
    width: calc(30% - 20px);
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .course img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .course h3 {
    margin: 0;
    font-size: 1.4em;
  }
  .course p {
    margin: 5px 0;
    font-size: 1.2em;
  }
  .course button {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .course button:hover {
    background-color: #0056b3;
  }

  /* Responsive Media queries */

@media screen and (max-width: 760px) {
  .courses-container {
    justify-content: center;
  }
  .course {
    width: 90%;
  }
}
@media screen and (min-width: 778px) {
  .course {
    width: calc(30% - 20px);
  }
}
  
  
  